{% include "navbar.html" %}

{% if crianca %}
<style> 

  .crianca{
    flex-shrink: 0;
    border-radius: 19.402px;
    background: #336116;
    {% comment %} width: 724px;
    left: 400px; {% endcomment %}
    width: 1086px;
    left: 213px;
    top: 250px;
    bottom: 37px;
  }

  .dados-criancas{
    width: 454px;
    height: 61px;
    flex-shrink: 0;
    color: #336116;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;;
    top: 153px;
    left: 519px;
  }

  .nome{
    width: 539px;
    height: 48px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Kumbh Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 54px;
    left: 291px;
  }

  .itens{
    width: 539px;
    height: 53.103px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Kumbh Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 291px;
  }

  .nome-filial{
    color: #FFF;
    font-family: Kumbh Sans;
    font-size: 33.529px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 80px;
  }

  .cpf{
    color: #FFF;
    font-family: Kumbh Sans;
    font-size: 29.712px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    left: 80px;
  }

</style>
    
    <div class="dados-criancas position-absolute"> Dados da Crianças </div>
    <a href="{% url 'listagem_criancas' crianca.turma %}" class="btn voltar-btn titulo-site position-absolute">VOLTAR</a>

  {% comment %} <div class="container mt-2 d-flex align-items-center justify-content-center position-absolute dados-crianca"> 
    <div class="card col-lg-5">
      <div class="card-body">
        <h5 class="titulo-site text-center" style="color: #bf9000; font-size: x-large">{{crianca.nome}}</h5> <br>
        <p>ID: {{crianca.id_crianca}}</p>
        <p>Idade: {{crianca.idade}}</p>
        <p>Nascimento: {{ crianca.nascimento|date:"d-m-Y" }}</p>
        <p>Status: {{crianca.status}}</p>
        <p>Período: {{crianca.periodo}}</p>
        <p>Entrada: {{crianca.entrada|date:"d-m-Y"}}</p>
        <p>Permanência: {{crianca.permanencia}}</p>
        <p>Turma: {{crianca.turma}}</p>
        <p>Autoavaliação: {{crianca.autoavaliacao}}</p>
      </div>
    </div>
</div> {% endcomment %}


<div class=" position-absolute crianca"> 
  {% comment %} <h5 class="titulo-site text-center" style="color: #bf9000; font-size: x-large">{{crianca.nome}}</h5> <br>
  <p>ID: {{crianca.id_crianca}}</p>
  <p>Status: {{crianca.status}}</p>
  <p>Período: {{crianca.periodo}}</p>
  <p>Permanência: {{crianca.permanencia}}</p>
  <p>Turma: {{crianca.turma}}</p>
  <p>Autoavaliação: {{crianca.autoavaliacao}}</p> {% endcomment %}
  <div class="position-absolute nome"> {{crianca.nome|title}} </div>
  <div class="position-relative itens" style="top: 102px;"> {{ crianca.nascimento|date:"d-m-Y" }} - {{crianca.idade}} Anos </div>
  <div class="position-absolute itens" style="top: 132px;"> CPF: {{ crianca.cpf_crianca}} </div>
  <div class="position-absolute itens" style="top: 160px;"> Ingressou em {{crianca.entrada|date:"d-m-Y"}}</div>
  <div class="position-absolute nome" style="top: 210px; left: 80px;"> Filiação:</div>
  <div class="position-absolute nome-filial" style="top: 260px;"> {{ crianca.nome_resp }} </div>
  <div class="position-absolute cpf" style="top: 295px;"> {{ crianca.cpf_resp }} </div>
  <div class="position-absolute nome-filial" style="top: 323px;"> {{ crianca.email_resp }} </div>
  <div class="position-absolute cpf" style="top: 360px;"> {{ crianca.tel_resp }} </div>

</div>


{% elif doacao %}

<div class="container"> <br>
  <div class="container mt-2 d-flex align-items-center justify-content-center"> 
    <div class="card col-lg-5">
      <div class="card-body">
        <h5 class="titulo-site text-center" style="color: #bf9000; font-size: x-large">{{doacao.nome_padrinho}}</h5> <br>
        <p>ID: {{doacao.id_doacao}}</p>
        <p>CPF: {{doacao.cpf}}</p>
        <p>Destino: {{doacao.destino}}</p>
        <p>Valor: {{doacao.valor}}</p>
        <p>Tipo da Doação: {{doacao.tipo}}</p>
      </div>
    </div>
</div>
</div>
{% else %}
    <p> INFORMAÇÃO NÃO DISPONÍVEL </p>
{% endif %}