{% include "navbar.html" %}

<form class="row g-3" method="post" action="{% url 'cadastro_crianca' turma %}">
  {% csrf_token %}
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nome</label>
    <input type="text" name="nome" class="form-control" id="inputNome" />
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Idade</label>
    <input type="number" name="idade" class="form-control" id="inputIdade" />
  </div>
  <div class="col-md-6">
    <label for="idade" class="form-label">Nascimento</label>
    <input
      type="date"
      name="nascimento"
      class="form-control"
      id="inputNascimento"
    />
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Período</label>
    <select id="inputPeriodo" class="form-select" name="periodo">
      <option selected>...</option>
      <option>Manhã</option>
      <option>Tarde</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Data de Entrada</label>
    <input type="date" name="entrada" class="form-control" id="inputCity" />
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Tempo de Permanência</label>
    <input type="text" name="permanencia" class="form-control" id="inputZip" />
  </div>
  {% comment %} <div class="col-md-4">
    <label for="inputState" class="form-label">Turma</label>
    <select id="inputTurma" class="form-select" name="turma">
      <option selected>...</option>
      <option>Eu e o Mundo - Manhã</option>
      <option>Nós e o Mundo - Manhã</option>
      <option>Eu e o Mundo - Tarde</option>
      <option>Nós e o Mundo - Tarde</option>
    </select>
  </div> {% endcomment %}
  <br />
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Faltas</label>
    <input type="number" name="faltas" class="form-control" id="inputFaltas" />
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Autoavaliação</label>
    <select id="inputAutoavaliacao" class="form-select" name="autoavaliacao">
      <option selected>...</option>
      <option>Verde</option>
      <option>Amarelo</option>
      <option>Vermelho</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Status</label>
    <input type="text" name="status" class="form-control" id="inputStatus" />
  </div>
  <br />
  <br />
  <br />
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</form>