{% include "navbar.html" %}

<style> 
  body{
    overflow-x: hidden;
  }
</style>

<form class="row g-3" method="post" action="{% url 'cadastro_crianca' turma %}">
  {% csrf_token %}
  <div class="col-md-6">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" name="nome" class="form-control" id="nome" />
  </div>
  <div class="col-md-6">
    <label for="idade" class="form-label">Idade</label>
    <input type="number" name="idade" class="form-control" id="idade" />
  </div>
  <div class="col-md-6">
    <label for="nascimento" class="form-label">Nascimento</label>
    <input
      type="date"
      name="nascimento"
      class="form-control"
      id="nascimento"
    />
  </div>
  <div class="col-md-6">
    <label for="data_entrada" class="form-label">Data de Entrada</label>
    <input type="date" name="entrada" class="form-control" id="data_entrada" />
  </div>
  {% comment %} <div class="col-md-4">
    <label for="inputState" class="form-label" id="""t">Turma</label>
    <label for="inputState" class="form-label" id="""t">Turma</label>
    <select id="inputTurma" class="form-select" name="turma">
      <option selected>...</option>
      <option>Eu e o Mundo - Manhã</option>
      <option>Nós e o Mundo - Manhã</option>
      <option>Eu e o Mundo - Tarde</option>
      <option>Nós e o Mundo - Tarde</option>
    </select>
  </div> {% endcomment %}
  <div class="col-md-6">
    <label for="status" class="form-label">CPF</label>
    <input type="text" name="cpf_crianca" class="form-control" id="CPFCrianca" />
  </div>
  <div class="col-md-6">
    <label for="status" class="form-label">Nome Responsável</label>
    <input type="text" name="nome_resp" class="form-control" id="NomeResponsavel" />
  </div>
  <div class="col-md-6">
    <label for="status" class="form-label">CPF do Responsável</label>
    <input type="text" name="cpf_resp" class="form-control" id="CPFResponsavel" />
  </div>
  <div class="col-md-6">
    <label for="status" class="form-label">Email do Responsável</label>
    <input type="text" name="email_resp" class="form-control" id="EmailResponsavel" />
  </div>
  <div class="col-md-6">
    <label for="status" class="form-label">Telefone do Responsável</label>
    <input type="text" name="tel_resp" class="form-control" id="TelefoneResponsavel" />
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="col-12">
  
    <button id='botao_cadastrar_crianca' type="submit" class="btn voltar-btn btn-primary" style="border: 0px;">Cadastrar</button>
    <a href="{% url 'listagem_criancas' turma %}"> <div class="btn voltar-btn"> Cancelar </div> </a>

  </div>
</form>