{% include "navbar.html" %}

<form class="row g-3" method="post" action="{% url 'cadastro_presenca' turma_atual=turma %}">
  {% csrf_token %}
  <div class="col-md-6">
    <label for="inputData" class="form-label">Data</label>
    <input type="date" name="data" class="form-control" id="inputData" />
  </div>
  {% for crianca in criancas %}
  <div class="col-md-6">
    <div class="form-check">
    <input class="form-check-input" type="checkbox" name="criancas_presentes" value="{{ crianca.nome }}" id="checkCrianca{{ crianca.id_crianca }}">
    <label class="form-check-label" for="checkCrianca{{ crianca.id_crianca }}">
        {{crianca.nome}}
    </label>
  </div>
</div>
{% endfor %}
  <br />
  <br />
  <br />
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</form>