{% include "navbar.html" %}

<body>

  <div class="container"> <br>
    <div class="d-flex justify-content-between py-3">
      <a href="/turmas/" class="btn custom-btn titulo-site">VOLTAR</a>
      <a href="{% url 'cadastro_crianca' turma %}" class="btn custom-btn titulo-site">CADASTRAR CRIANÇA NA TURMA</a>
    </div>

    <br> <br>

    <div class="row">
      {% if criancas %}
        {% for crianca in criancas %}
          <div class="col-md-6 justify-content-between">
            <div class="child-card">
              <div class="child-image"> </div>
              <div class="custom-name texto-site"> 
                <a href="{% url 'info_crianca' crianca.id_crianca %}" style="color: #783f04"> {{crianca.nome|title}} </a>
              </div>
            </div>
            <br>
          </div>
        {% endfor %}
    </div> 
      {% else %}
      <h1> NÃO HÁ CRIANÇAS REGISTRADAS NESSA TURMA!! </h1>
      {% endif %}
  </div>

</body>
