{% include "navbar.html" %}

<style> 

  .doacoes-recentes{
    width: 510px;
    height: 55px;
    flex-shrink: 0;
    color: #336116;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 189px;
    left: 501px;
  }

</style>



      <div class="doacoes-recentes position-absolute"> Doações Recentes </div>
      <a href="/"> <div class="btn voltar-btn titulo-site position-absolute">VOLTAR </div> </a>
      {% comment %} <a href="/cadastro_doacao/" class="btn new-donate-btn titulo-site">REGISTRAR NOVA DOAÇÃO</a> {% endcomment %}

    {% comment %} <br> <br>

    <div class="row">
      {% if doacoes %}
        {% for doacao in doacoes %}
          <div class="col-md-6 justify-content-between">
            <div class="child-card">
              <div class="child-image"> </div>
              <div class="custom-name texto-site"> 
                <a href="{% url 'info_doacao' doacao.id_doacao %}" style="color: #783f04"> {{doacao.nome_padrinho|title}} </a>
              </div>
            </div>
            <br>
          </div>
        {% endfor %}
    </div> 
      {% else %}
      <h1> NÃO HÁ DOAÇÕES REGISTRADAS </h1>
      {% endif %} {% endcomment %}

