{% include "navbar.html" %}
<style>
  .button-customize {
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 70px;
    font-size: xx-large;
    background-color: #898686;
  }
</style>
<div
  class="d-flex flex-column align-items-center justify-content-center"
  style="height: 80vh"
>
  <button class="btn btn-block mb-5 button-customize"><b>CRIANÇAS</b></button>
  <button class="btn btn-block mb-5 button-customize"><b>DOAÇÕES</b></button>
  <button class="btn btn-block button-customize"><b>TURMAS</b></button>
</div>
