{% include "navbar.html" %}

<div class="container"> <br>
  <div class="d-flex justify-content-between py-3">
    <a href="{% url 'listagem_criancas' crianca.turma %}" class="btn custom-btn titulo-site">VOLTAR</a>
    <a href="#" class="btn custom-btn titulo-site">ATIVIDADES DA CRIANÇA</a>
  </div>
  <div class="container mt-2 d-flex align-items-center justify-content-center"> 
    <div class="card col-lg-5">
      <div class="card-body">
        <h5 class="titulo-site text-center" style="color: #bf9000; font-size: x-large">{{crianca.nome}}</h5> <br>
        <p>ID: {{crianca.id_crianca}}</p>
        <p>Idade: {{crianca.idade}}</p>
        <p>Nascimento: {{ crianca.nascimento|date:"d-m-Y" }}</p>
        <p>Status: {{crianca.status}}</p>
        <p>Período: {{crianca.periodo}}</p>
        <p>Entrada: {{crianca.entrada|date:"d-m-Y"}}</p>
        <p>Permanência: {{crianca.permanencia}}</p>
        <p>Turma: {{crianca.turma}}</p>
        <p>Autoavaliação: {{crianca.autoavaliacao}}</p>
      </div>
    </div>
</div>
</div>

