{% include "navbar.html" %}

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="titulo">Nome da Criança</h5>
          <p>ID: {{crianca.id_crianca}}</p>
          <p>Nome: {{crianca.nome}}</p>
          <p>Idade: {{crianca.idade}}</p>
          <p>Nascimento: {{crianca.nascimento}}</p>
          <p>Status: {{crianca.status}}</p>
          <p>Período: {{crianca.periodo}}</p>
          <p>Entrada: {{crianca.entrada}}</p>
          <p>Permanência: {{crianca.permanencia}}</p>
          <p>Turma: {{crianca.turma}}</p>
          <p>Autoavaliação: {{crianca.autoavaliacao}}</p>
          <p>Faltas: {{crianca.faltas}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
