{% include "navbar.html" %}

<style> 

  .criancas{
    width: 510px;
    height: 55px;
    flex-shrink: 0;
    color: #336116;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 189px;
    left: 501px;
  }

  .cadastrar-dia{
    width: 296px;
    height: 48px;
    flex-shrink: 0;
    color: #336116;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 244px;
    right: 244px;
  }

  .child-list{
    flex-shrink: 0;
    border-radius: 19.402px;
    background: #336116;
    left: 213px;
    top: 292px;
  }

  hr{
    width: 920px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #FFF;
    background-color: #FFFFFF;
  }

  
</style>


  <a id='novo_dia' href="{{ turma_url }}"> <div class="btn voltar-btn titulo-site position-absolute"> VOLTAR </div> </a>
  <a href="{% url 'cadastro_presenca' turma_atual=turma %}" > <div class="cadastrar-dia position-absolute"> +Cadastrar Novo Dia </div> <a>


<div class="container child-list position-absolute">
      {% if presencas %}
        {% for presenca in presencas %}
            <div class="child-card">
              <div class="child-image"> </div>
              <div class="custom-name texto-site"> 
                <a href="{% url 'info_presenca' presenca.id_presenca %}" style="color: #783f04"> {{presenca.data|title}} </a>
              </div>
            </div>
            <hr>
        {% endfor %}
      {% else %}
      <h1> NÃO HÁ PRESENÇAS REGISTRADAS NESSA TURMA!! </h1>
      {% endif %}
  </div>
