{% include "navbar.html" %}

<body>

  <div class="container"> <br>
    <div class="d-flex justify-content-between py-3">
      <a href="/" class="btn custom-btn titulo-site">VOLTAR</a>
    </div>

    <br> <br>

    <div class="row">
        {% for turma in turmas %}
          <div class="col-md-12 justify-content-between">
            <div class="child-card">
              {% comment %} <a href="{% url 'info_crianca' crianca.id_crianca %}" class="child-image"> </a> {% endcomment %}
              <div class="child-image"> </div>
              <div class="custom-name texto-site"> 
                <a href= "{% url 'listagem_criancas' turma %}" style="color: #783f04"> {{turma|title}} </a>
              </div>
            </div>
            <br>
          </div>
        {% endfor %}
    </div> 
  </div>

</body>
